.Add-Student {
  margin-top: 170px;
  margin-bottom: 60px;
}

.Add-Student ul {
  list-style: none;
}

.Add-Student button {
  background-color: rgb(5, 164, 5);
  color: white;
  padding: 3px 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 0px rgba(179, 179, 179, 1);
  font-size: 18px;
  margin-top: 10px;
}

.Add-Student button:hover {
  background-color: white;
  color: black;
}

.Add-Student .delete-button {
  background-color: white;
  color: salmon;
  margin-left: 15px;
  font-size: 15px;
  padding: 3px 3px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 0px rgba(179, 179, 179, 1);
}

.Add-Student .delete-button:hover {
  background-color: salmon;
}

.Add-Student input {
  width: 180px;
  padding: 6px 10px;
  margin-left: 8px;
  box-sizing: border-box;
  border: 2px solid lightgray;
  border-radius: 4px;
}

.Add-Student .sprout-border {
  margin-bottom: 0px;
}

.Add-Student li {
  text-align: left;
  font-size: 25px;
}

.add-student-list {
  display: flex;
  justify-content: center;
}