.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  /* height: 200px; */
}

.Footer a {
  text-decoration: none;
  margin-right: 15px;
  font-size: 15px;
  padding: 5px 15px;
  color: black;
}

.Footer a:hover {
  color: rgb(5, 164, 5);
}

.Footer ul {
  padding-left: 0;
}